[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/vim-jinja"]
	path = vim/.vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
